*{
    background-color: rgb(34, 34, 34);
}

#content{
    display: flex;
    flex-direction: column;
}

#calcBackDiv{
    background-color: darkgreen;
    height: 75vh;
    width: 40vw;

    display: flex;
    flex-direction: column;
    align-self: center;
}

#calcDisplayDiv{
    background-color: aqua;
    min-height: 10vh;
}

#calcButtonBox{
    background-color: darkred;

    display: flex;
    flex-direction: column;
    
}

.btnRow{
    display: flex;
}

.btn{
    background-color: white;
    flex-basis: 3rem 3rem;
}