body{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
}

h1{
    color: #5a9b6d;
    text-align: center;
}

a{
    color:greenyellow;
}

#titleDiv{
    margin-bottom: 4rem;
}

#content{
    display: flex;
    flex-direction: column;}

#calcBackDiv{
    background-color: #B85042;
    height: 70vh;
    width: 40vw;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;

    max-height: 450px;
    max-width: 375px;
    min-height: 300px;
    min-width: 100px;
    display: flex;
    flex-direction: column;

    align-self: center;
}

#calcDisplayDiv{
    background-color: #E7E8D1;
    margin: 1rem;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;

    display: flex;
    min-height: 1.5rem;
    max-height: 2.5rem;
    flex-grow: 1;
    align-items: center;
}

#calcDisplayDiv p{
    background-color: transparent;
    font-size: 1.5rem;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
}

#calcButtonBox{
    background-color: transparent;
    margin: 1rem;
    border-radius: 7.5%;

    display: flex;
    flex-direction: column;
    flex-grow: 6;
    min-height: 0;
}

.btnRow{
    background-color: transparent;

    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.btn{
    background-color: #A7BEAE;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn p{
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
}

.btn.operator{
    background-color: #7d9dcc;
}

.equals{
    background-color:#c5c362;
}

.btn.highlight{
    background-color: #5a9b6d;
}

footer{
    text-align: center;
    font-size: small;
    background-color: rgb(85, 85, 85);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footerContent > p{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
}