*{
    background-color: rgb(34, 34, 34);
}

#content{
    display: flex;
    flex-direction: column;
}

#calcBackDiv{
    background-color: darkgreen;
    height: 75vh;
    width: 40vw;
    min-height: max-content;
    min-width: max-content;

    display: flex;
    flex-direction: column;
    flex-basis: auto;

    align-self: center;
}

#calcDisplayDiv{
    background-color: aqua;
    margin: 1rem;

    flex-grow: 1;
}

#calcButtonBox{
    background-color: darkred;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    flex-grow: 6;
    
}

.btnRow{
    display: flex;
    flex-grow: 1;
}

.btn{
    background-color: white;
    
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn p{
    background-color: transparent;
    font-size: (2vw * 2vh)/2;

    text-align: center;
}